extends layout 
 
block content 
  h1(class="hello")= title
  if (toShow == null)
    h2 No instance to detail 
  else
    - let entreeid = toShow._id 
    - let entree_name = toShow.name 
    - let entreecost = toShow.cost 
    - let entreecalories = toShow.calories
    div(class="tblDiv") 
        div.row 
            div(class='entreeAttr mr-3') Entree ID is: 
            div #{entreeid} 
        div.row 
            div(class='entreeAttr mr-3') Entree Name is: 
            div #{entree_name} 
        div.row 
            div(class='entreeAttr mr-3') Entree Calories is: 
            div #{entreecalories} 
        div.row 
            div(class='entreeAttr mr-3') Entree Cost is: 
            div #{entreecost}
    img(src="/images/sas.jpg" alt="stephen" width="600" height="600")